<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.firebasetest.lsy">

    <!-- 외부 저장소 접근 퍼미션 추가하기 -->
    <!-- 33버전 이후 부터 미디어 접근 퍼미션 유형이 조금 다름. -->
    <!-- https://developer.android.com/about/versions/13/behavior-changes-13?hl=ko -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FireBaseTest"
        tools:targetApi="31">
<!--        파이어베이스 FCM 메타 데이터 부분-->
        <meta-data
            android:name="com.google.firebase.message.default_notification_icon"
            android:resource="@drawable/ic_stat_ic_notification"/>
        <meta-data
            android:name="com.google.firebase.message.default_notification_color"
            android:resource="@color/colorAccent"/>
        <meta-data
            android:name="com.google.firebase.message.default_notification_channel_id"
            android:value="fcm_default_channel"/>
<!--        백그라운드에서 처리하는 로직-->
        <service
            android:name=".fcmTest.MyFirebaseFcmService"
            android:enabled="true"
            android:exported="true">
<!--            외부앱에 알리는 용도로 사용이 됨-->
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>

        <activity
            android:name=".imageShareApp.ItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".imageShareApp.AddImageShareAppActivity"
            android:exported="true" />
        <activity
            android:name=".imageShareApp.MainImageShareAppActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddFireStoreActivity"
            android:exported="true" />
        <activity
            android:name=".AddActivity"
            android:exported="true" />
        <activity
            android:name=".AuthActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>